.app {
  display: grid;
  place-items: center;
  background-color: #dadbd3;
  height: 100vh;
}

.app__body {
  display: flex;
  background-color: #ededed;
  margin-top: 5px;
  height: 90vh;
  width: 90vw;
  box-shadow: 6px 10px 18px red;
}